html, body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: white !important;
  }
  .card-one{
    padding: 20px  20px  20px 20px;
  }
  .cardMargin{
    /* padding-left: 5px !important; */
    padding-bottom: 0rem !important;
    margin-left:0rem !important;
    width: 15rem !important;
    padding-right: 0px !important;
    font-size:  0.9em;
    font-style: bold !important;
    background-color: whitesmoke !important;

    }
    .card-header{
        padding-top: 3px !important;
        padding-bottom: 0px !important;
        padding-left: 3px !important;
        }
    #card-bg{
     padding: 10px 10px 10px 10px !important;   
     
   }
.card-pie,.card-bar{
    padding-top: 20px;
}
 .card-chart-row{
    padding-bottom: 0rem !important;
    margin-left:0rem !important;
    width: 15rem !important;
    padding-right: 0px !important;
    font-size:  0.9em;
 }
  #logo-img{
    max-height: 4rem !important;
    width: 15rem ;
    padding: 0px 0px 0px 0px;
  }

  .wht{
    padding: 0rem !important;
  }
 
  .card{
    box-shadow: none !important;  
  }
  #minimal-statistics{
      margin-top: 80px !important;
      padding: 0px 0px 0px 12px !important;
  }
  #dropdown{
      border-radius: 4px;
  }
  #drop-group{
      padding-top: 4px;
  }
  .chart-row,section{
      background-color: white !important;
  }
  .btn-top{
      margin-bottom: 2px;
  }
  #mybar,#myline{
      /* width: 25rem; */
      max-width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .card{
      margin-bottom:0.5rem !important;
  }
  .wht{
      background-color: white !important;
  }
  .grey-bg{  
      background-color: white !important;
      margin-top: 35px;
  }
  .bg-card-head{
      background-color: whitesmoke !important;
  }

  
  .fa-window-maximize{
      position:absolute; 
      right:5px; 
      top:5px; 
  }
  .navbar{
      height: 40px;
      background-color: #1b2942 !important;
  }
  
  #cardStyle{
      max-width: 25rem; 
      max-height: 45rem;
      margin-bottom:0rem; 
  }
  footer {
      text-align: center;
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      padding: 2px;
      background-color:  #1b2942 !important;
      color: white;
      height: 30px;
    }
   
    .chart{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 200px !important; 
      padding: 1px 1px 1px 1px;
    }
    #mypie1,#mypie2,#mynut{
      /* height: 150px !important;  */
      width:100% !important; 
      align-self: center;
  }
  #myline,#mybar{
    width:200px !important;
    height:150px !important; 
    /* width: 240px !important; */
    align-self: center;
  }
  .chart0,
  .chart2{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-left: 150px !important; */
  font-size: 20px;
  }

  #filters{
    position:absolute; 
    right:15px; 
    top:45px;
}
  @media (min-width: 375px) and (max-width: 667px){
      .navbar{
          height: 60px;
      }
      .wht{
        padding: 0px 0px 0px 65px !important;
      }
      #filters{
          position:absolute; 
          right:10px; 
          top:65px;
      }
      .chart{
          width: 20rem;
      } 
      #minimal-statistics{
          margin-top: 100px !important;
      }
      .chart0,
      .chart2{
      width: 100%;
      align-items: center;
      justify-content: center;
      margin-left: 0px !important ;
      font-size: 20px;
      }
      footer {
          text-align: center;
          left: 0;
          bottom: 0;
          width: 100%;
          padding: 2px;
          background-color:  #1b2942 !important;
          color: white;
          height: 30px;
        }
        #mybar,#myline{
          max-width: 100%;
          align-items: center;
          justify-content: center;
      }
  }
  @media (min-width: 768px) and (max-width: 1024px) {
      .navbar{
          height: 60px;
      }
      .wht{
        padding: 0px 0px 0px 65px !important;
      }
      #filters{
          position:absolute; 
          right:10px; 
          top:65px;
      }
      #cardStyle{ 
          max-height: 25rem;
      }
      
      #mypie1,#mypie2,#mynut{
          height: 155px; 
          width: 90%;
      }
      #minimal-statistics{
          margin-top: 100px !important;
  
      }
      .chart0,
      .chart2{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 0px !important ;
      font-size: 20px;
      }
      footer {
          text-align: center;
          left: 0;
          bottom: 0;
          width: 100%;
          padding: 2px;
          background-color:  #1b2942 !important;
          color: white;
          height: 30px;
        }
        #mybar,#myline{
          max-width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
      }
  }
  @media (min-width: 820px) and (max-width: 1180px) {
      .navbar{
          height: 60px;
      }
      .wht{
        padding: 0px 0px 0px 65px !important;
      }
      #filters{
          position:absolute; 
          right:10px; 
          top:65px;
      }
      #cardStyle{
          max-width: 25rem; 
          max-height: 45rem;
      }
      #minimal-statistics{
          margin-top: 100px !important;
      }
      #mypie1,#mypie2,#mynut{
          height: 165px !important ; 
          width: 90%;
      margin-left: 0px !important ;
  
      }
      .chart0,
      .chart2,.chart3,.chart1{
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 0px !important ;
      font-size: 20px;
      }
      footer {
          text-align: center;
          left: 0;
          bottom: 0;
          width: 100%;
          padding: 2px;
          background-color:  #1b2942 !important;
          color: white;
          height: 30px;
        }
        #mybar,#myline{
          max-width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
      }
  }
  